<!DOCTYPE html>
<html>
<head>
  <title>Anemia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Anemia</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-link" href="http://i.imgur.com/bv1M58Z.png" target="_blank">Algorithm</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
